/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.login {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
.login:hover {
  opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

.submit{
  background-color: #04AA6D;
  border-radius: 3px;
  margin-top: 40px;
  display: block;
  margin-left: 22%;
}
.submit:hover {
  opacity: 0.8;
}

.budget{
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 50px;
}

.month{
  display: block;
  margin: auto;
  width: 50%;
}

.heading{
  display: block;
  margin: auto;
  width: 50%;
}